@import "./variables.scss";
@import "./normalize.scss";
@import "./mixins.scss";

.header {
   padding: 30px 100px 80px 100px;
   max-width: 1920px;
   min-width: 1140px;
   box-sizing: border-box;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__left {
   display: flex;
   justify-content: space-between;
   width: 378px;

   &-button {
      @include transition(0.2s);
      @extend .btn;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
   }

   &-button:hover {
      color: $purple;
   }

   .btn-burger {
      @include transition(0.2s);
      @include backgroundImage("../img/svg/burger.svg");
      width: 35px;
      height: 14px;
      margin: 4px;
   }

   &-button:hover .btn-burger {
      @include backgroundImage("../img/svg/burger-purple.svg");
   }
}

.line-gray {
   border: $lineBorder;
}

.header__left-list {
   @extend .list;
   .header__left-item {
      .link__number {
         color: $darkBlack;
      }
      &-text {
         color: $gray;
      }
   }
}

.header__right {
   display: flex;
   justify-content: space-between;
   width: 378px;
   height: 28px;
   box-sizing: border-box;
   padding-left: 378px - 190px;
   &-search {
      @include transition(0.2s);
      @include size(25px);
      @include backgroundImage("../img/svg/search.svg");
      @extend .btn;
   }
   &-search:hover {
      @include backgroundImage("../img/svg/search-purple.svg");
   }
}
.basket {
   @extend .btn;
   display: flex;
   &__icon {
      @include transition(0.2s);
      @include size(28px);
      @include backgroundImage("../img/svg/basket.svg");
      &:hover {
         @include backgroundImage("../img/svg/basket-purple.svg");
      }
   }
   &__label {
      @include backgroundImage("../img/svg/number-product.svg");
      width: 25px;
      height: 15px;
      margin-left: 15px;
      margin-top: 7px;
   }
}

.container {
   width: 1140px;
   height: 562px;
   margin-left: 391px;
   margin: 0 auto;
}

.products {
   @extend .list;
   display: grid;
   grid-template-columns: 360px 360px 360px;
   grid-template-rows: 266px 266px;
   gap: 30px;
   & .product {
      position: relative;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      overflow: hidden;
      z-index: 1;
      &__image {
         position: absolute;
         right: 0;
         bottom: 0;
      }
      &:nth-child(1) {
         @include overlay($purple, 750px, 266px, horizontal);
         grid-column-start: 1;
         grid-column-end: 3;
      }
      &:nth-child(2) {
         @include overlay($yellow, 360px, 562px, vertical);
         grid-column-start: 3;
         grid-row-start: 1;
         grid-row-end: 3;
      }
      &:nth-child(3) {
         @include overlay($red, 360px, 266px, horizontal);
      }
      &:nth-child(4) {
         @include overlay($green, 360px, 266px, horizontal);
      }
      &__type {
         font-family: $amatic;
         font-size: 40px;
         line-height: 50px;
         font-weight: 700;
         padding-left: 40px;
         padding-top: 40px;
      }
      &__description {
         color: $lightBlack;
         padding-left: 40px;
         padding-top: 5px;
         padding-bottom: 48px;
      }
      &__button {
         @include transition();
         @extend .btn;
         font-weight: 500;
         padding-left: 40px;
         position: relative;
         &::after {
            content: "";
            @include transition();
            @include size(65px);
            @include backgroundImage("../img/svg/link.svg");
            position: absolute;
            top: -32.5px + 9px;
            left: 0;
            opacity: 0;
         }
         &_purple {
            color: $purple;
         }
         &_yellow {
            color: $yellow;
         }
         &_red {
            color: $red;
         }
         &_green {
            color: $green;
         }
      }
      &__overlay {
         @include transition(0.4s);
         border-radius: 100%;
         position: absolute;
         z-index: 1;
         width: $circleSize;
         height: $circleSize;
         background: $purple;
         transform: scale(0.0001) translate(-$circleSize, -$circleSize);
         transform-origin: top left;
      }
      &:hover .product__overlay {
         @include transition(0.4s);
      }
      &:hover .product__button {
         transform: translate(34px);
         color: $white;
         &::after {
            opacity: 1;
         }
      }
      &__wrapper {
         position: relative;
         z-index: 2;
      }
   }
}
