// Переменные

$purple: #ceafc8;
$red: #fc8663;
$green: #88bcb9;
$yellow: #ffd452;
$white: #ffffff;
$oneblack: #292b2a;
$twoblack: #052e43;
$gray: #959595;
$lg: 1px solid #d7d7d7;

$r: "Roboto Condensed", "Arial", sans-serif;
$a: "Amatic SC", "Arial", sans-serif;

$effect: background 0.3s ease-in-out;

body {
   width: 1920px;
   font-family: $r;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   color: $twoblack;
   background-color: $white;
}

.link {
   text-decoration: none;
}

.list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.btn {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
}

.header {
   height: 115px;
   padding: 30px 100px 80px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__left {
   display: flex;
   justify-content: space-between;
   width: 378px;

   &-button {
      @extend .btn;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
   }

   &-button:hover {
      color: $purple;
      transition: $effect;
   }

   .btn-burger {
      width: 35px;
      height: 14px;
      margin: 4px;
      background-image: url("../img/svg/burger.svg");
      transition: $effect;
   }

   &-button:hover .btn-burger {
      background-image: url("../img/svg/burger-purple.svg");
   }
}

.line-gray {
   border: $lg;
}

.header__left-list {
   @extend .list;
   // display: flex;
   // flex-direction: column;
   // justify-content: space-between;
   // СДЕЛАТЬ ОТСТУПЫ
   .header__left-item {
      .link__number {
         color: $oneblack;
      }
      &-text {
         color: $gray;
         padding-left: 12px;
      }
   }
}

.header__center {
}

.header__right {
   display: flex;
   justify-content: space-between;
   width: 190px;
   height: 28px;
   margin-right: 100px;
   &-search {
      @extend .btn;
      width: 25px;
      height: 25px;
      background-image: url("../img/svg/search.svg");
      background-repeat: no-repeat;
   }
   &-search:hover {
      background-image: url("../img/svg/search-purple.svg");
      transition: $effect;
   }
}
.basket {
   @extend .btn;
   display: flex;
   &__icon {
      width: 28px;
      height: 28px;
      background-image: url("../img/svg/basket.svg");
      background-repeat: no-repeat;
      &:hover {
         background-image: url("../img/svg/basket-purple.svg");
         transition: $effect;
      }
   }
   &__label {
      width: 25px;
      height: 15px;
      margin-left: 15px;
      margin-top: 7px;
      background-image: url("../img/svg/number-product.svg");
      background-repeat: no-repeat;
   }
}

.container {
   width: 1140px;
   height: 562px;
   margin-left: 391px;
}

.products {
   @extend .list;
   display: grid;
   grid-template-columns: 360px 360px 360px;
   grid-template-rows: 266px 266px;
   gap: 30px;
   & .product {
      position: relative;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      &__image {
         position: absolute;
         right: 0;
         bottom: 0;
      }
      &:nth-child(1) {
         grid-column-start: 1;
         grid-column-end: 3;
      }
      &:nth-child(2) {
         grid-column-start: 3;
         grid-row-start: 1;
         grid-row-end: 3;
      }
      &__type {
         font-family: $a;
         font-size: 40px;
         line-height: 50px;
         font-weight: 700;
         padding-left: 40px;
         padding-top: 40px;
      }
      &__description {
         color: $twoblack;
         padding-left: 40px;
         padding-top: 5px;
         padding-bottom: 47px;
      }
      &__button {
         @extend .btn;
         font-weight: 500;
         padding-left: 40px;
         &_purple {
            color: $purple;
         }
         &_yellow {
            color: $yellow;
         }
         &_red {
            color: $red;
         }
         &_green {
            color: $green;
         }
      }
   }
}
