// Colors
$purple: #ceafc8;
$red: #fc8663;
$green: #88bcb9;
$yellow: #ffd452;
$white: #ffffff;
$darkBlack: #292b2a;
$lightBlack: #052e43;
$gray: #959595;

// Lines
$lineBorder: 1px solid #d7d7d7;

// Fonts
$roboto: "Roboto Condensed", "Arial", sans-serif;
$amatic: "Amatic SC", "Arial", sans-serif;

// Circle
$circleSize: 800px;
$circleRadius: $circleSize / 2;
